[submodule "i/tmux/tmux"]
	path = i/tmux/tmux
	url = https://github.com/tmux/tmux.git
[submodule "i/vim/vim"]
	path = i/vim/vim
	url = https://github.com/vim/vim.git
[submodule "i/vim/nvim"]
	path = i/vim/nvim
	url = https://github.com/neovim/neovim.git
[submodule "i/vim/config/vimminent"]
	path = i/vim/config/vimminent
	url = git@github.com:dkuettel/vimminent.git
[submodule "i/pdocs/pdocs"]
	path = i/pdocs/pdocs
	url = git@github.com:dkuettel/pdocs.git
[submodule "i/ptags/ptags"]
	path = i/ptags/ptags
	url = git@github.com:dkuettel/ptags.git
[submodule "i/dwm/dwm"]
	path = i/dwm/dwm
	url = git@bitbucket.org:dkuettel/dwm.git
[submodule "i/dwm/slock"]
	path = i/dwm/slock
	url = https://git.suckless.org/slock
[submodule "i/st/st"]
	path = i/st/st
	url = git@bitbucket.org:dkuettel/st.git
[submodule "i/alacritty/alacritty"]
	path = i/alacritty/alacritty
	url = https://github.com/alacritty/alacritty.git
[submodule "i/dmenu/dmenu"]
	path = i/dmenu/dmenu
	url = git@bitbucket.org:dkuettel/dmenu.git
[submodule "i/ltstatus/ltstatus"]
	path = i/ltstatus/ltstatus
	url = git@github.com:dkuettel/ltstatus.git
