Host staging
	User kuettel
	HostName kuettel.dev.vuforia.com
#	for backward tunnel ssh
	RemoteForward 2222 localhost:22
#	for tensorboard
	LocalForward 6006 localhost:6006
#	for vnc
#	LocalForward 5901 localhost:5901

Host github-personal
	HostName github.com
	IdentityFile ~/.ssh/id_rsa-personal
